<%- include('../../partials/head.ejs') -%>
<body>
    <%- include('../../partials/header.ejs') -%>
    <main class="main-container">
        <section class="container cart__items--head">
            <h1 class="cart__title">CARRITO DE COMPRAS</h1>
            <div class="cart__article--th">
                <p class="cart__article--text">DETALLE DE PRODUCTO</p>
                <p class="cart__article--text">CANTIDAD</p>
                <p class="cart__article--text">TOTAL</p>
            </div>
        </section>
        <section class="container cart__items--item">
            <div class="cart__table cart__item">
                <div class="cart__item--item">
                    <picture class="cart__cover">
                        <img src="../../img/star-wars/baby-yoda-1.webp" alt="">
                    </picture>
                    <article class="cart__article">
                        <h2 class="cart__item--name">BABY JODA BLUEBALL</h2>
                        <p class="cart__item--ref"> STAR WARS</p>
                        <p class="cart__title--price">Precio: $1799,99</p>
                    </article>
                </div>
                <div  class="cart__item--amount">
                    <div class="cart__amount">
                        <input type="number" name="" class="collection__input quantity" placeholder="0">
                        <div class="collection__button-div">
                            <button class="collection__button-add add">+</button>
                            <button class="collection__button-add subtract">-</button>
                        </div>
                    </div>
                </div>
                <div class="cart__item--tprice">
                    <p class="cart__price">$ 3599,98</p>
                    <a href="pages/cart.html" class="nabvar__cart">
                        <img class="cart__item--cancel" src="../../img/icons/x.svg" alt="Icono de carrito">
                    </a>
                </div>
            </div>

            <div class="cart__table cart__item">
                <div class="cart__item--item">
                    <picture class="cart__cover">
                        <img src="../../img/pokemon/pidgeotto-1.webp" alt="">
                    </picture>
                    <article class="cart__article">
                        <h2 class="cart__item--name">PIDGEOTTO</h2>
                        <p class="cart__item--ref">POKEMON</p>
                        <p class="cart__title--price">Precio: $1799,99</p>
                    </article>
                </div>
                <div  class="cart__item--amount">
                    <div class="cart__amount">
                        <input type="number" name="" class="collection__input quantity" placeholder="0">
                        <div class="collection__button-div">
                            <button class="collection__button-add add">+</button>
                            <button class="collection__button-add subtract">-</button>
                        </div>
                    </div>
                </div>
                <div class="cart__item--tprice">
                    <p class="cart__price">$ 3599,98</p>
                    <a href="pages/cart.html" class="nabvar__cart">
                        <img class="cart__item--cancel" src="../../img/icons/x.svg" alt="Icono de carrito">
                    </a>
                </div>
            </div>
        </section>
        <section class="cart__resumen container">
            <h1 class="cart__title">RESUMEN</h1>
            <div class="cart__resume--content">
                <div class="cart__resume--text">
                    <p>CANTIDAD DE ELEMENTOS</p>
                    <p>3</p>
                </div>
                <div class="cart__resume--text">
                    <p>SUBTOTAL</p>
                    <p>$ 5399,97</p>
                </div>
                <div class="cart__resume--text">
                    <p>ENVIO</p>
                    <p>$ 0,00</p>
                </div>
                <div class="cart__resume--total">
                    <p>TOTAL</p>
                    <p>$5399,97</p>
                </div>
            </div>
            <a class="collection__link-item cart__link" href="">IR A PAGAR</a>
        </section>
    </main>
    <%- include('../../partials/footer.ejs') -%>
    <script src="../../js/item.js"></script>
</body>

</html>