<%- include('../../partials/head.ejs') -%>
<body>
    <%- include('../../partials/header.ejs') -%>
    <main class="main-container-shop container">
        <!-- Aqui va la informacion de contacto -->
    </main>
    <%- include('../../partials/footer.ejs') -%>
</body>

</html>