<%- include('../../partials/head.ejs') -%>
<body>
    <%- include('../../partials/header.ejs') -%>
    
    <main class="container login-container">
         <h1 class="title-container-h1">Grupo 2 - Proyecto Final Comisión 23583</h1>
         <p class="title-container-h1">Full Stack NodeJS</p>
         <picture>
            <img src="/img/codoacodo.png" alt="">
         </picture>
     </main>
     <%- include('../../partials/footer.ejs') -%>
</body>
</html>