<%- include('../../partials/head.ejs') -%>
<body>
    <%- include('../../partials/headerAdmin.ejs') -%>
     <main class="container">
         <h1 class="title-create">CREAR NUEVO ITEM</h1>
        <form action="/admin/create" method="post" class="form-admin" enctype="multipart/form-data" >
            <div class="form-admin__select">
              <label for="category">Categoría: </label>
              <select name="category" id="category" >
                  <option disabled selected>Seleccionar</option>
                  <option value="1">Funkos</option>
                  <option value="2">Remeras</option>
                  <option value="3">Llaveros</option>
              </select>
              <label for="licence">Licencia: </label>
              <select name="licence" id="licence" >
                  <option disabled selected>Seleccionar</option>
                  <option value="1">POKEMON</option>
                  <option value="2">STAR-WARS</option>
                  <option value="3">HARRY POTTER</option>
              </select>
            </div>
            <div class="form-admin__product-details">
              <label for="product_name">Nombre del producto:</label>
              <input for="product_name" class="admin-input" type="text" id="product" name="product_name" placeholder="Kakashi Hatake Shippuden Saga">
            </div>
            <div class="form-admin__product-details">
              <label for="product_description"></label>
              <textarea id="product_description" name="product_description" cols="100" rows="10" placeholder="Descripción del producto"></textarea>
            </div>
            <div class="form-admin__product-details">
                <label for="sku" ></label>SKU: <input for="sku" class="admin-input" type="text" name="sku" placeholder="SSK111AB001">
                <label for="price"></label>Precio: <input for="price" class="admin-input" name="price" type="text" placeholder="$ 0.000,00">
                <label for="stock"></label>Stock: <input for="stock" name="stock" class="admin-input" type="text" placeholder="0">
            </div>
            <div class="form-admin__product-details">
              <label for="discount"></label>Descuento: <input class="admin-input" type="text" name="discount" placeholder="0%">
              <label for="dues">Cuotas: </label>
              <select for="dues" name="dues" id="dues">
                <option value="3">3 cuotas sin interés</option>
                <option value="6">6 cuotas sin interés</option>
                <option value="12">12 cuotas sin interés</option>
              </select>
            </div>
            <div class="form-admin__product-details">
              <label>Imágen: </label>
              <input type="file" accept="image/png,image/jpeg"  capture="user">
            </div>
            <div class="form-admin__product-details">
              <label>Imágen en caja: </label>
              <input type="file" accept="image/png,image/jpeg,image/webp" capture="user">
            </div>
            <div class="form-admin__product-details">
              <input class="form-admin__btn" type="submit" value="Agregar producto" >
              <input class="form-admin__btn" type="reset" value="Limpiar">
            </div>
        </form>
      
     </main>
     <%- include('../../partials/footer.ejs') -%>
     <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     
</body>
</html>