<%- include('../../partials/head.ejs') -%>
<body>
    <%- include('../../partials/header.ejs') -%>
    
    <main class="container login-container">
         <h1 class="title-container-h1">CREA TU CUENTA</h1>
         <p class="title-container-h1">Completa el formulario para ser parte del mundo de los Funkos</p>
        <form action="" class="form-admin">
            <div class="form-admin__product-details login-container__details">
                <label for="nombre">Nombre:</label>
                <input class="admin-input" type="text" name="nombre" id="nombre" placeholder="John">
            </div>
            <div class="form-admin__product-details login-container__details">
                <label for="apellido">Apellido:</label>
                <input class="admin-input" type="text" name="apellido" id="apellido" placeholder="Doe">
            </div>
            <div class="form-admin__product-details login-container__details">
                <label for="email">Email:</label>
                <input class="admin-input" type="email" name="email" id="email" placeholder="ejemplo@correo.com">
            </div>
            <div class="form-admin__product-details login-container__details">
                <label for="pass">Contraseña:</label>
                <input class="admin-input" type="password" name="pass" id="pass" placeholder="**********">
            </div>
            <div class="form-admin__product-details login-container__details">
                <label for="passR">Repita Contraseña:</label>
                <input class="admin-input" type="password" name="passR" id="passR" placeholder="**********">
            </div>
            <div class="form-admin__product-details login-container-buttons">
                <input class="form-admin__btn login-container-buttons__btn" type="submit" value="Registrar" >
                <input class="login-container-buttons__btn-checkbox" type="checkbox" name="TyC" id="TyC">
                <label for="rememberme" class="check-loguin">Acepto <a href="#">Terminos y Condiciones</a></label>
            </div>
        </form>
      
     </main>

     <%- include('../../partials/footer.ejs') -%>
     
</body>
</html>